<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenfangming.admin.persistence.mapper.RoleMenuMapper">
    <resultMap id="BaseResultMap" type="com.chenfangming.admin.persistence.entity.RoleMenu">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="menu_id" property="menuId"/>
    </resultMap>

    <sql id="BaseColumn">
        admin_sys_role_menu.id,
        admin_sys_role_menu.role_id,
        admin_sys_role_menu.menu_id
    </sql>

</mapper>